*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
     /* Primary */

--Lightred: hsl(0, 100%, 67%);
--Orangeyyellow: hsl(39, 100%, 56%);
--Greenteal: hsl(166, 100%, 37%);
--Cobaltblue: hsl(234, 85%, 45%);

   /* Gradients */

--Lightslatebluebackground: hsl(252, 100%, 67%);
--Lightroyalbluebackground: hsl(241, 81%, 54%);

--Violetbluecircle: hsla(256, 72%, 46%, 1);
--Persianbluecircle: hsla(241, 72%, 46%, 0);



 /* Neutral */

--White: hsl(0, 0%, 100%);
--Paleblue: hsl(221, 100%, 96%);
--Lightlavender: hsl(241, 100%, 89%);
--Darkgrayblue: hsl(224, 30%, 27%);
}
.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }

    body{
        background-color: var(--Paleblue);
        font-family: 'Hanken Grotesk', sans-serif;
        text-align: center;
        display: grid;
        min-height: 100vh;
    

        
    }
    main{
        display: flex;
        margin: auto;
        width: min(500px, 100vw - 2rem);
        margin-inline: auto;
}
        
    
    .top{
        font-size: 15px;
        font-weight: 700;
        padding: 15px;
       color: var(--Lightlavender)  ;
    }
    .left{
        background-image: linear-gradient( var(--Lightslatebluebackground), var(--Lightroyalbluebackground));
        border-radius: 15px;
        padding:20px;
        align-items: center;
        color: var(--White);
    }
    .right{
        background-color: var(--White);
        padding:20px;
        border-radius: 0 15px 15px 0;
    }
    .circle{
        border-radius: 50%;
        background-image: linear-gradient(var(--Violetbluecircle), var(--Persianbluecircle));
        width:150px;
        height: 150px;
        margin: auto;
           
    }
    
    .num{
        font-weight: 800;
        font-size: 40px;
    }
    .total{
       color:var(--Lightlavender) ;
    }
    .great{
        font-size: 20px;
        font-weight: 700;
        justify-content: center;
        padding:15px;
    }
 p{
        color:var(--Lightlavender) ;
    }
    